DanbooruDownloader3/DanbooruProviderList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DanbooruProviderList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DanbooruProvider">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Url" type="xs:string" />
              <xs:element name="QueryStringJson" type="xs:string" />
              <xs:element name="QueryStringXml" type="xs:string" />
              <xs:element name="Preferred" type="xs:string" />
              <xs:element name="DefaultLimit" type="xs:unsignedByte" />
			  <xs:element name="HardLimit" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>